{% extends 'home.html' %}
{% load static %}
{% block title %}
Product List 
{% endblock %}

{% block content %}
<style>
  .product{
   
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;

}
.product .items{
    width:30%;
    display:flex;
    flex-direction: column;
    gap:10px;
    border:2px solid lightgrey;
    padding:20px;
    
}
.product .items img{
  width:100%;
  height: 150px;
}
</style>
<br/>
<br/>
<div class="container-fluid mt-4">
  <div class="row">
    <h1 class="text-center"> Our Products</h1>
  </div>
  <div class="product">
    {% for product in products %}
    <div class="items" style="border:1px solid lightgray;">
      
      <img  src="{{ product.image.url }}" style="width:100%;height150px;"/>
        <h3>{{ product.pname }}</h3>
     
        <p>Price: &#8377; {{ product.price }}</p>
        <a href="/product_byid/{{product.id}}">More Detail</a>
        <hr> 
    

    </div>
    {% endfor %}
 
  </div>
</div>


{% endblock %}